

* {
  box-sizing: border-box;
  font-family: Mariupol !important;
}

@font-face {
  font-family: 'Mariupol';
  src: local('Mariupol'), url(./fonts/Mariupol/Mariupol-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Mariupol';
  src: local('Mariupol'), url(./fonts/Mariupol/Mariupol-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.6;
}

img {
  width: 100%;
  height: 100%;
}
